body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: url('../assets/img/shelf-bg.jpg');
    padding: 0 15px;
    overflow-x: hidden;
}

.cabecalho {
    background: url('./img/header-01.jpg') no-repeat;
    position: relative;
    border-bottom: 15px solid #0f4968;
    background-size: cover;
    height: 300px;
    padding: 60px 80px;
}

.Titulo,
.subTitulo {
    color: white;
    text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
}

.container-Navbar {
    height: 60px;
    display: flex;
    flex-flow: column;
}

.navBar {
    position: relative;
    bottom: 75px;
    background-color: rgba(58, 57, 57, 0.5);
}

.Titulo {
    font-size: 80px;
    font-family: serif;
}

.subTitulo {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* quando o mouse passar no link*/
.navLink:hover {
    color: #bfddf3;
}

a:link {
    text-decoration: none;
    font-size: 25px;
}

a {
    color: #FFF;
}

.navBar-ul li a.navLink.active {
    color: #bfddf3;
    /* Cor do texto do link ativo */
}

.navBar-ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

/*Index */
.subTitulo2 {
    color: grey;
    font-style: oblique;
    font-size: 30px;
    padding-bottom: 25px;
}

.corpo-texto {
    padding: 35px 30px;
}

.container {
    background-color: white;
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;
}

.galeria {
    padding-top: 60px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.item-galeria {
    position: relative;
    flex: 1 0 15%;
    padding: 0 10px;
}

.item-galeria img {
    opacity: 1;
    transition: .3s ease-in-out;
}

.item-galeria-overlay {
    background: #0066CC;
    max-width: 240px;
    margin: 0 auto;
}

.item-galeria:hover img {
    opacity: 0.5;
}

.legenda-figura {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    color: #4F4F4F;
    font-size: 20px;
}

.galeria-nav {
    text-align: center;
}

.galeria-nav .item-navegacao {
    margin-right: 10px;
    margin-bottom: 10px;
}

.galeria-nav .item-navegacao:last-child {
    margin-right: 0;
}

.galeria-nav .link-navegacao {
    background-color: #EDEDED;
    color: #717171;
    padding: .7rem 1.2rem;
}

.galeria-nav .item-navegacao:last-child {
    margin-right: 0;
}

.navegacao-galeria .item-navegacao:hover {
    background-color: #186e9d;
    color: white;
}

.img-centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-centro-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navegacao-galeria {
    position: relative;
    bottom: 20px;
    text-align: center;
}

.lista-navegacao {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.item-navegacao {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 30px;
    height: 40px;
    line-height: 45px;
}

.item-navegacao.active {
    background-color: #186e9d;
}

.item-navegacao:hover {
    background-color: #186e9d;
}

.item-navegacao a {
    color: #4F4F4F;
    text-decoration: none;
    font-size: 18px;
}

/*Footer*/
.containerFooter {
    background-color: #076599;
    color: white;
    padding: 50px 30px;
    width: 80%;
    margin: 80px;
}

h2 {
    font-size: 35px;
    padding-bottom: 15px;
}

footer {
    text-align: center;
    color: white;
}

footer a:hover {
    color: #FF3;
}

/*botão live chat*/
.btnChat {
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 50px;
}

.btnChat:hover {
    background-color: white;
    color: #0066CC;
}

/*Pagina Formulario*/
.TituloContact {
    color: #1a5b86;
}

.formGroup {
    margin-bottom: 1rem
}

.formControl {
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 0;
    font-size: 1.2rem;
    padding: .75rem .75rem;
}

/* Botão form*/
.btnSubmit {
    color: white;
    background-color: #186e9d;
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 160px;
}

.btnSubmit:hover {
    color: white;
    background-color: #389fd7;
}

.boxForm {
    height: 100%;
    padding-left: 2%;
}

div.op1 {
    width: 38%;
    display: inline-block;

}

div.op2 {
    width: 38%;
    display: inline-block;
}

.textLinkContact {
    color: #076599;
}

.tm-address {
    margin-bottom: 35px;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    padding: 20px;
}

.content img {
    max-width: 150%;
    height: auto;
    padding-right: 50px;
    padding-left: 5px;
}

.text-container {
    max-width: 800px;
    text-align: left;
}

h3 {
    color: #076599;
    font-size: 30px;
    padding-bottom: 5%;
}

.paragrafo-preview {
    color: #666;
    font-size: 20px;
    line-height: 2.5;
    padding-bottom: 5%;
}

.paragrafo {
    font-size: 20px;
    color: #076599;
    padding-bottom: 6%;
}

.avaliacao {
    font-size: 20px;
    color: #076599;
    display: flex;
    align-items: center;
}

.avaliacao img {
    width: 35px;
    height: 35px;
    margin-left: -1%;
    margin-right: -10%;
}

a.link-previeww-2 {
    color: #076599;
    text-decoration: none;
    font-size: 21px;
}

.link-previeww-2:hover {
    text-decoration: none;
}

.minha-galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 5%;
}

.meu-item-galeria {
    width: 255px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.minha-sobreposicao-galeria {
    position: relative;
    overflow: hidden;
}

.meu-centro-imagem {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.minha-legenda-galeria {
    font-size: 20px;
    color: #4F4F4F;
    text-align: center;
    padding-top: 5%;
}

.meu-item-galeria:hover .minha-sobreposicao-galeria {
    background-color: #0066CC;
}

.meu-item-galeria:hover .meu-centro-imagem {
    transform: scale(1.2);
    opacity: 0.7;
}


.meu-botao-azul {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #4289af;
    color: #fff;
    transition: opacity 0.3s ease;
}


.meu-botao-cinza {
    display: inline-block;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    background-color: #ededed;
    color: #0066CC;
    transition: opacity 0.3s ease;
    margin-top: 5%;
}

.meu-botao-cinza:hover,
.meu-botao-azul:hover {
    opacity: 0.8;
}

.icon-text-section {
    display: flex;
    justify-content: space-between;
}

.icon-text-item {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
}

.icon-container {
    margin-bottom: 15px;
}

.fa-linode,
.fa-telegram,
.fa-superpowers {
    font-size: 5em;
}

.item-header {
    margin-bottom: 10px;
}

.item-title {
    font-size: 1.7em;
    color: #186e9d;
}

/*Página our team*/
.equipe {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.nossoTime {
    padding-bottom: 5%;
    color: #186e9d;

}

.membro-equipe {
    margin-left: 35px;
}

.membro-equipe-2 {
    background-color: #076599;
    color: white;
    padding: 50px 30px;
    margin-top: 45px;
    margin-right: 50px;
}

.paragrafo-time {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1.5;
}

.membro-equipe-3 {
    background-color: #076599;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; 
    max-width: 950px;
    margin: 0 auto;
    height: 200px;  
}

.article-box1,
.article-box2 {
    flex: 1;
    margin: 10px;
    overflow: hidden;
}

.title-box1 {
    color: #FFFFFF;
}

.title-box2 {
    color: #BAF0CD;
}

.membro-equipe-3 {
    color: white;
}

.div-box2 {
  padding-top: 2%;
  padding-left: 5%;
 
}

.p-div-box2 {
    line-height: 1.6;
    padding-top: 1%;
    padding-bottom: 8%;
    font-size: 25px;
}

h4{
    color: #076599;
    font-size: 30px;
    padding-bottom: 2%;
    padding-top: 5%;

}

.paragrafo-time,
.paragrafo-time-2 {
    text-align: left;
} 

@media only screen and (max-width: 768px) {
    .cabecalho {
        padding: 30px 40px;
        height: auto;
    }

    .membro-equipe {
        margin-left: 10px;
    }

    .membro-equipe-2 {
        padding: 30px;
        margin-top: 20px;
        margin-right: 10px;
    }

    .membro-equipe-3 {
        padding: 20px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .div-box2 {
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .paragrafo-time {
        font-size: 18px;
    }

    .p-div-box2 {
        font-size: 18px;
    }
}