
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	background: url('../assets/img/shelf-bg.jpg');
	padding: 0 15px;
	overflow-x: hidden;
}
.cabecalho {
    background: url('https://img.freepik.com/fotos-premium/livros-no-fundo_941466-1902.jpg?w=826') no-repeat;
    position: relative;
    border-bottom: 15px solid #0f4968;
    background-size: cover;
    height: 300px;
    padding: 60px 80px;
}

.Titulo,
.subTitulo {
    color: white;
    text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
}

.container-Navbar {
    height: 60px;
    display: flex;
    flex-flow:column;
}

.navBar {
    position: relative;
    bottom: 75px;
    background-color: rgba(58, 57, 57, 0.5);
    
    
}

.Titulo {
    font-size: 80px;
    font-family: serif;
}

.subTitulo {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* quando o mouse passar no link*/
a:hover {
    color: #bfddf3;
}


a:link {

    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

a {
    color: #FFF;
}

.navBar-ul li a.navLink.active {
    color: #bfddf3; /* Cor do texto do link ativo */
}
.navBar-ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/*
Index */

.subTitulo2{
    color: grey;
   font-style: oblique;
   font-size: 30px;
   padding-bottom: 25px;
   
}

.corpo-texto{
    padding: 35px 30px; 
}


.container {
	background-color: white;
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;  
}
.galeria {
    padding-top: 60px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.item-galeria {
    position: relative;
    flex: 1 0 15%; 
    padding: 0 10px;
}

.item-galeria img {
    opacity: 1;
    transition: .3s ease-in-out;
}

.item-galeria-overlay {
    background: #0066CC;
    max-width: 240px;
    margin: 0 auto;
}

.item-galeria:hover img {
    opacity: 0.5;

}

.legenda-figura {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    color: 	#4F4F4F;
    font-size: 20px;
}

.galeria-nav {
    text-align: center;
}

.galeria-nav .item-navegacao {
    margin-right: 10px;
    margin-bottom: 10px;
}

.galeria-nav .item-navegacao:last-child {
    margin-right: 0;
}

.galeria-nav .link-navegacao {
    background-color: #EDEDED;
    color: #717171;
    padding: .7rem 1.2rem;
}

.galeria-nav .item-navegacao:last-child {
    margin-right: 0;
}

.navegacao-galeria .item-navegacao:hover {
    background-color: #186e9d;
    color: white;
}


.img-centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-centro-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navegacao-galeria {
    position: relative;
    bottom: 20px;
    text-align: center;
}

.lista-navegacao {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.item-navegacao {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 30px;
    height: 40px;
    line-height: 45px;
}

.item-navegacao.active {
    background-color: #186e9d;
}

.item-navegacao:hover {
    background-color: #186e9d;
}


.item-navegacao a {
    color: #4F4F4F;
    text-decoration: none;
    font-size: 18px;
}

    